<h3>Blockchain content</h3>
<br>
<br>

<div class="row">
    <div class="col-8 offset-2">
        <form>
            <div class="form-group">
                <label for="amount">To Address: </label>
                <input type="text" class="form-control" ng-model="to_address" aria-describedby="blockchainAddressHelp" placeholder="e.g., 0x93e66d9baea28c17d9fc393b53e3fbdd76899dae">
                <small id="blockchainAddressHelp" class="form-text text-muted">The blockchain address you want to send money to.</small>
            </div>
            <div class="form-group">
                <label for="receiver">Amount: </label>
                <input type="text" class="form-control" ng-model="amount" placeholder="e.g., 95">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="ctrlSendCoin(to_address, amount)">Send MetaCoin</button>
        </form>
    </div>
</div>
<br>
<br>
<br>

<div class="card-columns" ng-init="ctrlRefreshBalance(accounts[0])">
    <div class="card" ng-repeat="account in accounts">
        <div class="card-header">
            Account {{ accounts.indexOf(account) }}
        </div>
        <div class="card-block">
            <p class="card-text" style="word-wrap:break-word;">
                <b>Account number</b> : {{ account }} <br><br>
                <b>Balance</b> : {{ balances[account] }} <i class="fa fa-btc" aria-hidden="true"></i>
            </p>
        </div>
        <br>
    </div>
</div>
